// $tag-cloud-start      = #CC1E1E;
// $tag-cloud-end        = #1ECC2F;
// $tag-cloud-start-dark = #1ECC2F;
// $tag-cloud-end-dark   = #1ECC2F;

// $body-bg-color           = rgba(155, 117, 117, 0.313);

// $tag-cloud-start      = rgb(226, 214, 214);
// $tag-cloud-end        = rgb(198, 103, 103);
// $tag-cloud-start-dark = rgb(158, 65, 65);
// $tag-cloud-end-dark   = rgb(160, 38, 38);

// $line-height-base         = 2;

//$headband-height                = 44px;
// $headband-bg                    = #252f26;